<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <p>Your Gold:</p>
            <p>{{ gold }}</p>
            <a href="/destroy">RESET</a>
        </div>
        <div class="header">
            <form action="/process_money" method="post">
                <input type="hidden" name="location" value="farm">
                <p>farm</p>
                <p>(earns 10-20 gold)</p>
                <button>Find Gold!</button>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="location" value="cave">
                <p>cave</p>
                <p>(earns 5-10 gold</p>
                <button>Find Gold!</button>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="location" value="house">
                <p>house</p>
                <p>(earns 2-5 gold</p>
                <button>Find Gold!</button>
            </form>
            <form action="/process_money" method="post">
                <input type="hidden" name="location" value="casino">
                <p>casino</p>
                <p>(earns/takes 0-50 gold</p>
                <button>Find Gold!</button>
            </form>
        </div>
        <div class="footer">
            <p>Activities</p>
            <div class="activities">
                {% for message in session['activities'] %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>